<div class="navbar">
    <h1>Acerca de mi</h1>
    <nav>
        <button (click)="Home()">Home</button>
    </nav>
</div>
<div class="contenedor">
    <h1></h1>
    <h2>Marcos Agustin Reinoso</h2>
    <img src="/img/foto.jpg" alt="Foto de perfil" class="foto-perfil" />
    <p>
       Mi nombre es Marcos Reinoso, tengo 28 años y actualmente estoy cursando el último<br> cuatrimestre de la carrera de Técnico en Programación en la UTN.<br> Tambien, estoy completando algunas materias correspondientes al tercer cuatrimestre.
    </p>
    <div>
        <h2>Juego propio</h2>
        <img src="/img/tetris.png" class="foto-juego" alt="">
        <p>
            Tetris es un videojuego de rompecabezas creado en 1984 por el programador ruso Alexey Pajitnov.<br> El objetivo del juego es encajar piezas de diferentes formas, llamadas tetriminos, en una cuadrícula vertical. <br> A medida que las piezas caen, 
            el jugador debe rotarlas y moverlas con los botones en pantalla para completar líneas horizontales,<br> que luego desaparecen y otorgan puntos. El juego termina cuando las piezas alcanzan la parte superior de la pantalla.  
        </p> 
    </div> 
</div>
   

